/* Style de base pour l'application */
body {
    font-family: 'Nunito', sans-serif;
    background-color: #F0F4F8;
    color: #1E293B;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}

/* Styles pour l'interrupteur de mode */
#mode-toggle:checked ~ .dot {
    transform: translateX(100%);
    background-color: #f59e0b; /* amber-500 */
}
#mode-toggle:checked ~ .block {
     background-color: #fcd34d; /* amber-300 */
}

/* Animation pour une récompense qui se débloque */
.reward-unlocked-anim {
    animation: unlock-pulse 0.6s ease-out;
}

@keyframes unlock-pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
}

/* Styles pour le conteneur du bouton flottant (FAB) */
#controls {
    position: fixed;
    bottom: 3.5rem; /* Remonté pour une meilleure visibilité */
    right: 2.5rem;
    z-index: 50;
}

#app {
    padding-bottom: 10rem; /* Marge de sécurité en bas */
}

/* Style pour le nom de l'enfant cliquable */
#child-name-selector.clickable {
    cursor: pointer;
}
 #child-name-selector.clickable:hover #child-name-display {
    color: #D97706;
 }
#child-name-selector .arrow {
    display: none;
    transition: transform 0.2s ease-in-out;
}
#child-name-selector.clickable .arrow {
    display: inline-block;
}
