:root {
    --primary-color: #D97706; /* amber-600 */
    --primary-color-hover: #B45309; /* amber-700 */
    
    --text-color-dark: #1E293B; /* slate-800 */
    --text-color-light: #475569; /* slate-600 */
    --text-color-on-primary: white;
    
    --border-color: #CBD5E1; /* slate-300 */
    --border-color-light: #E5E7EB; /* slate-200 */
    
    --surface-background: white;
}

body {
    font-family: 'Nunito', sans-serif;
    background-color: #F0F4F8;
    color: var(--text-color-dark);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0; /* Reset default margin */
}

#app {
    display: block; /* Custom elements are inline by default, make it a block container */
}

/* Screen-reader only utility */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}
