/* Style de base pour l'application */
body {
    font-family: 'Nunito', sans-serif;
    background-color: #F0F4F8;
    color: #1E293B;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0; /* Reset default margin */
}

/* Main App Container */
renard-app {
    display: block; /* Custom elements are inline by default, make it a block container */
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    position: relative;
    padding-bottom: 10rem; /* Marge de sécurité en bas */
}

@media (min-width: 768px) {
    renard-app {
        padding: 2rem;
        padding-bottom: 10rem; /* Keep the bottom padding */
    }
}

/* Container for the user selector */
#user-selection-container {
    position: fixed;
    top: 1rem;
    right: 1.5rem;
    z-index: 100; /* Ensure it's above other elements */
}

add-renard-button {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 50;
}

/* Screen-reader only utility */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}
